<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809067603048-j3i1eg5rkh6nknpubaivesksdmkh2g4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809067603048-j3i1eg5rkh6nknpubaivesksdmkh2g4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809067603048-2k1hcinr2qgph0sg7kjb9rsjhlj3dlq4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzTe6W7oUiUDU5JU3N6Gp0wT4mh1b8_LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809067603048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthline</string>
	<key>PROJECT_ID</key>
	<string>healthline-vn</string>
	<key>STORAGE_BUCKET</key>
	<string>healthline-vn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809067603048:ios:4b1ae2548b0fee921047dd</string>
</dict>
</plist>